@import './screen';
@import './wysiwyg';
@import './related-products';
@import './nav';
@import './footer';
@import './slider';
@import './spinner';
@import './chatbox';

body {
  display: block;
  margin: 0;
}

*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
