.prose ul {
  list-style: disc;
  margin-left: 20px;
}

#nav_wrapper {
  height: 90px;
}

#nav_wrapper #nav {
  height: 90px;
}

#nav_wrapper #nav.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition:
    transform 0.15s ease,
    -webkit-transform 0.15s ease;
  -webkit-filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.05));
}

#nav_wrapper #nav.is-hidden {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}

#nav_wrapper #nav .item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1001;
}

#nav_wrapper #nav .item li {
  z-index: 1001;
}

#nav_wrapper #nav .item .backdrop {
  opacity: 0;
  visibility: hidden;
}

#nav_wrapper #nav .item .backdrop.active {
  opacity: 1;
  visibility: visible;
}

#nav_wrapper #nav .item .sub_menu {
  max-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition:
    opacity 0ms linear 0.1s,
    visibility 0ms linear 0.1s,
    -webkit-transform 0.1s ease;
  transition:
    opacity 0ms linear 0.1s,
    visibility 0ms linear 0.1s,
    -webkit-transform 0.1s ease;
  transition:
    transform 0.1s ease,
    opacity 0ms linear 0.1s,
    visibility 0ms linear 0.1s;
  transition:
    transform 0.1s ease,
    opacity 0ms linear 0.1s,
    visibility 0ms linear 0.1s,
    -webkit-transform 0.1s ease;
  -webkit-transform-origin: top center;
  transform-origin: top center;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  top: 65px;
  z-index: 1001;
}

#nav_wrapper #nav .item .sub_menu .pre_menu {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-transition:
    opacity 0.1s,
    -webkit-transform 0.1s;
  transition:
    opacity 0.1s,
    -webkit-transform 0.1s;
  transition:
    transform 0.1s,
    opacity 0.1s;
  transition:
    transform 0.1s,
    opacity 0.1s,
    -webkit-transform 0.1s;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

#nav_wrapper #nav .item .sub_menu.active {
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition:
    opacity 0ms,
    visibility 0ms,
    -webkit-transform 0.25s ease;
  transition:
    opacity 0ms,
    visibility 0ms,
    -webkit-transform 0.25s ease;
  transition:
    transform 0.25s ease,
    opacity 0ms,
    visibility 0ms;
  transition:
    transform 0.25s ease,
    opacity 0ms,
    visibility 0ms,
    -webkit-transform 0.25s ease;
}

#nav_wrapper #nav .item .sub_menu.active .pre_menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition:
    opacity 0.2s linear,
    -webkit-transform 0.3s ease;
  transition:
    opacity 0.2s linear,
    -webkit-transform 0.3s ease;
  transition:
    transform 0.3s ease,
    opacity 0.2s linear;
  transition:
    transform 0.3s ease,
    opacity 0.2s linear,
    -webkit-transform 0.3s ease;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}

#home_slider .slider_content {
  height: 550px;
}

@media (min-width: 1024px) {
  #home_slider .slider_content {
    height: 650px;
  }
}

#home_slider .slider_content .slider_item .slider_bg {
  -o-object-position: 50% 50%;
  object-position: 50% 50%;
}

.loader {
  border: 2px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-animation: rotation 1s linear infinite;
  animation: rotation 1s linear infinite;
}

#validating.loading .loader {
  border: 2px solid black;
  border-bottom-color: transparent;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

body {
  display: block;
  margin: 0;
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*# sourceMappingURL=index.css.map */
